[Unit]
Description=Lemma Web Server
After=network.target

[Service]
Type=simple
User=poonih
WorkingDirectory=/home/poonih/techsprint-gdg/apps/web
ExecStart=/home/poonih/.nvm/versions/node/v24.12.0/bin/pnpm start
Restart=always
Environment=NODE_ENV=production
Environment=PORT=3500
Environment=PATH=/home/poonih/.nvm/versions/node/v24.12.0/bin:/home/poonih/techsprint-gdg/node_modules/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target