[Unit]
Description=Lemma API Server
After=network.target

[Service]
Type=simple
User=poonih
WorkingDirectory=/home/poonih/techsprint-gdg/apps/api
ExecStart=/home/poonih/.nvm/versions/node/v24.12.0/bin/node dist/index.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

